@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.recipe-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 1px 12px;
  font-family: 'Bonheur Royale', cursive;
  font-size: 80px;
}
.recipe-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  column-gap: 5px;
}
.recipe-input {
  padding: 6px 16px;
  min-width: 200px;
  max-width: 100vw;
  font-size: 20px;
}

.recipeCard-img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 50px;
}
.recipeCard-name {
  max-width: 200px;
  justify-content: center;
  align-items: center;

  margin: 7% 7%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 35px;
}

.recipe-dropdown {
  padding: 7px 8px;
  margin-left: 6px;
  border-radius: 4px;
}
.header-text {
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  margin-left: 10px;
  display: inline-block;
}
.header-icon {
  margin-right: 10px;
  margin-bottom: 3px;
  color: black;
}
.navbar-header {
  background: rgb(241, 241, 244);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 100% rgba(230, 230, 230, 1) 100%,
    rgba(241, 241, 244, 1) 6%,
    rgba(182, 182, 189, 1) 7%
  );
}

body {
  background-color: #d6c2c0;
  background-image: url('https://www.transparenttextures.com/patterns/bedge-grunge.png');
}

.socials-icon {
  color: black;
}

.logo-link {
  text-decoration: none;
}
.logo-link:visited {
  color: black;
}

.grid-spacing {
  margin-top: 60px;
}
